<!DOCTYPE html>
<html lang="ja">
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/post.css">
    </head>
    <body>
        <header>
            <h1>じゅにゃ〜ごの部屋</h1>
		    <h3>ゆる〜く創作活動してます</h3>
                <nav>
			        <ul>
				        <li><a href="index.html">ホーム</a></li>
				        <li><a href="gamedev.html">ゲーム制作</a></li>
				        <li><a href="dtm.html">DTM</a></li>
				        <li><a href="illust.html">イラスト制作</a></li>
				        <li><a href="giftmaterial.html">素材配布</a></li>
			        </ul>
		    </nav>
        </header>
        <main>{{ content }}</main>
        <footer>

        </footer>
    </body>
</html>
